<h2>Tweets by @chrissyteigen</h2>
<ol>
<% cache('our_public_tweets', expires_in: 5.minutes) do %>
	<% TwitterApi.our_public_tweets.each do |tweet| %>
	<li> <%= parsed_tweet tweet %> <strong><%= tweet.created_at %></strong></li>

	<% end %>
<% end %>
</ol>

